@mixin main_input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 15px;
    background-color: white;
    outline-color: goldenrod;
}

@mixin breakpoint($width) {
    @media (min-width: $width) {
        @content;
    }
}