@import "partials/fonts";

html, body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    .appContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        h1 {
            font-family: "Riffic Free", sans-serif;
            text-align: center;

            .goal {
                font-size: 0.6em;
                vertical-align: middle;
            }
        }
    }
}